@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.main_header {
  left: 50%;
  max-width: 783px;
  height: auto;
  width: 100%;
  position: relative;
  transform: translateX(-50%);
  margin-top: 50px;
}

.main_image {
  position: relative;
  margin: 0 50%;
  transform: translate(-50%);
}

.main_nav {
  position: relative;
  font-size: 10px;
  width: 300px;
}

.social_nav {
  display: inline-block;
  position: absolute;
  top: 3%;
  right: 0;
}

.nav_text {
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  line-height: 35px;
  margin-right: 14px;
}

.main_text {
  width: 403px;
  height: 75px;
  border: 4px solid black;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 1;
  background-color: white;
  text-align: center;
}

.main_text_logo {
  margin: 15px auto;
  height: 100%;
  text-align: center;
  font-size: 33px;
  text-decoration: underline;
  letter-spacing: 9.9px;
}

.container {
  max-width: 783px;
  height: auto;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}

.post {
  width: 100%;
  height: 255px;
  border: 1px solid gray;
  display: flex;
}

.post__text {
  width: 50%;
  right: 0;
  margin: 40px;
}

.post__img {
  width: 350px;
}

.person {
  width: 100%;
  display: flex;
  &__img {
    width: 30px;
    height: 30px;
    background-color: indigo;
    border-radius: 50%;
    color: white;
    display: flex;
  }
  &__name {
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
    margin-left: 8px;
  }
  &__data {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    margin-left: 8px;
  }
}
