@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  position: relative;
  &__header {
    top: 0px;
    z-index: 4;
    position: sticky;
    background-color: white;
    margin-bottom: 40px;
    width: 100%;
    height: 80px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__logo-field {
      position: absolute;
      left: 200px;
      letter-spacing: 4px;
      font-size: 20px;
    }
    &__nav-field {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 40px;
      width: 100%;
      max-width: 500px;
      top: 20px;
      right: 0;
    }
    &__social-field {
      margin-right: 80px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &_img {
        width: 22px;
        height: 22px;
      }
    }
  }
  &__content {
    width: 100%;
    height: 550px;
    background-image: url(./132.webp);
    &_text1 {
      font-family: "Poppins", sans-serif;
      font-size: 55px;
      line-height: 71.5px;
      font-weight: bold;
      position: absolute;
      top: 210px;
      left: 450px;
    }
    &_text2 {
      font-family: "Poppins", sans-serif;
      font-size: 55px;
      line-height: 71.5px;
      font-weight: bold;
      position: absolute;
      top: 290px;
      left: 450px;
    }
    .small-pencil {
      position: absolute;
      left: 550px;
      transform: rotate(-13deg);
    }
  }
  &__slider {
    box-sizing: content-box;
    top: 3%;
    right: 20%;
    position: absolute;
    width: 480px;
    height: 430px;
    .slides {
      position: absolute;
      background-image: url(./c.png);
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
    }
  }
  &__content2 {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;
    height: 630px;
    background-color: #fcf6cc;
    margin-top: 260px;
    .small-block {
      box-sizing: content-box;
      position: relative;
      width: 320px;
      height: 380px;
      background: #fff4f3;
      bottom: 140px;
      &_picture {
        width: 160px;
        height: 160px;
        position: absolute;
        transform: translate(50%, 25%);
      }
      &_text {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 1px;
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translateX(-50%);
        text-align: center;
      }
    }
  }
  &__content3 {
    position: relative;
    width: 100%;
    height: 890px;
    background-image: url(./content3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    &__text {
      position: absolute;
      left: 50%;
      top: 10%;
      transform: translate(-50%);
      text-align: center;
      font-size: 40px;
      font-family: "Poppins";
    }
    &__video {
      position: absolute;
      box-sizing: border-box;
      width: 775px;
      height: 436px;
      left: 50%;
      top: 20%;
      transform: translate(-50%);
      background-image: url(./video.webp);
      &_btn {
        position: absolute;
        box-sizing: content-box;
        width: 65px;
        height: 65px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__content4 {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 280px;
    &__text {
      position: absolute;
      left: 50%;
      top: 10%;
      transform: translate(-50%);
      text-align: center;
      font-size: 40px;
      font-family: "Poppins";
    }
  }
  &__content5 {
    position: relative;
    width: 100%;
    height: 1385px;
    background-color: #fcf6cc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__block {
      top: -280px;
      width: 830px;
      height: 418px;
      background-color: #fff4f3;
      position: relative;
      &_imgT {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &_imgTest {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
      }
      &_title {
        position: absolute;
        text-align: center;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        font-family: "Nunito";
        line-height: 27px;
        letter-spacing: 0.9px;
      }
      &_author {
        position: absolute;
        text-align: center;
        top: 73%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        font-family: "Poppins";
        font-weight: bold;
      }
    }
    &_big-image {
      width: 1741px;
      height: 657px;
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translate(-50%);
    }
    &_subtitle {
      position: absolute;
      top: 70%;
      font-size: 40px;
      font-family: "Poppins";
      text-align: center;
      font-weight: bold;
    }
    .blockAward {
      position: absolute;
      bottom: 0;
      width: 469px;
      height: 294px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      &_badge {
        width: 110px;
        height: 110px;
      }
      &_title {
        text-align: center;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
  &__content7 {
    position: relative;
    width: 100%;
    height: 807px;
    display: flex;
    flex-direction: row;
    margin-bottom: 350px;
    &__try-readie {
      position: relative;
      width: 760px;
      height: 100%;
      &_title {
        position: absolute;
        font-family: "Poppins";
        font-size: 40px;
        top: 20%;
        left: 50%;
        font-weight: bold;
      }
      &_subtitle {
        position: absolute;
        font-family: "Nunito";
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.9px;
        top: 40%;
        left: 50%;
      }
    }
    &__gif-block {
      position: relative;
      width: 1140px;
      height: 100%;
      &__tablet {
        position: absolute;
        z-index: 2;
        box-sizing: border-box;
        width: 382px;
        height: 548px;
        background-color: #383838;
        border-radius: 4%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &_img {
          box-sizing: content-box;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 350px;
          height: 480px;
        }
      }
    }
  }
  &__content8 {
    width: 100%;
    height: 214px;
    background-color: #fcf6cc;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    &__containers {
      position: relative;
      width: 830px;
      height: 530px;
      background-color: #fff4f3;
      bottom: 390px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      &__text {
        font-size: 30px;
        font-family: "Poppins";
        text-align: center;
        margin-bottom: 30px;
      }
      &__input {
        flex-direction: row;
        width: 200px;
        height: 37px;
        margin: 3px;
        border: 1px solid black;
        font-size: 18px;
        line-height: 25.2px;
        text-align: left;
        font-weight: lighter;
        padding-left: 10px;
        margin: 0 10px;
      }
      &__inputMessage {
        width: 421px;
        height: 127px;
        margin: 13px;
        border: 1px solid black;
        font-size: 18px;
        line-height: 25.2px;
        font-weight: lighter;
        padding-left: 10px;
      }
      &__button {
        width: 419px;
        height: 36px;
        background-color: #fc8a7b;
        border: none;
        color: white;
        font-family: "Poppins";
        font-size: 15px;
        line-height: 21px;
      }
    }
  }
}
.app-store {
  position: absolute;
  width: 130px;
  height: 40px;
}
.google-play {
  position: absolute;
  width: 160px;
  height: 60px;
}
.paragraph-text {
  position: absolute;
  text-align: center;
  font-size: 18px;
  left: 50%;
  top: 55%;
  transform: translate(-50%);
}

@import "./content.scss";
